<app-header></app-header>
<div>
  @for(article of articles(); track article.id ) {
    @if(article.id === id) {
      <article>
        <img ngSrc="{{article.image}}" width="700" height="400" alt="image de l'article" priority>
        <h3>{{article.category.toUpperCase()}}</h3>
        <h2 [innerHTML]="article.title"></h2>
        <p [innerHTML]="article.subtitle"></p>
        <p [innerHTML]="article.description"></p>
      </article>
    }
  }
  @if(articles().length===0 || !articles()){
    <p>Chargement<a href="#" [routerLink]="['']">Retour à l'accueil</a></p>
  }
</div>
