.international {
  color: #E74C3C;
}

.divertissement {
  color: cadetblue;
}

.faitsdivers {
  color: #BB8FCE;
}

.société {
  color: #EB984E;
}

article {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

article h2 {
  font-weight: 400;
  font-size: 1em;
}

article h3 {
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 1.5vh;
  margin-bottom : 1vh;
}

article p {
  font-weight: 300;
  font-size: 0.9em;
  text-align: justify;
}

article img {
  position: relative;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}
a {
  align-self: center;
  text-decoration: none;
  padding: 0.5em 0.8em 0.5em 0.8em;
  margin-bottom: 1em;
  border: solid lightgray 1px;
  border-radius: 50px;
  color: black;
  font-weight: 400;
}
a:hover{
  background: lightgray;
}
