<div>
  @for(article of article$ | async; track article.id ) {
      <article>
        <img ngSrc="{{article.image}}" width="700" height="400" alt="image de l'article" priority>
        <h3 [ngClass]=articleManager.getClassNameFromCategory(article)
        > {{article.category.toUpperCase()}}</h3>
        <h2 [innerHTML]="article.title"></h2>
        <p [innerHTML]="article.subtitle"></p>
        <p [innerHTML]="article.description"></p>
        <p class="author">{{article.author}}</p>
        <a href="#" [routerLink]="['']">Retour</a>
      </article>
  }
</div>
