<app-header></app-header>
<div>
  @for(article of articles$ | async; track article.id ) {
      <article>
        <img ngSrc="{{article.image}}" width="700" height="400" alt="image de l'article" priority>
        <h3 [ngClass]="{'international': article.category.toLowerCase()==='international',
                        'entertainment': article.category.toLowerCase()==='divertissement',
                        'miscFacts': article.category.toLowerCase()==='faits divers',
                        'society': article.category.toLowerCase()==='société',}"
        > {{article.category.toUpperCase()}}</h3>
        <h2 [innerHTML]="article.title"></h2>
        <p [innerHTML]="article.subtitle"></p>
        <p [innerHTML]="article.description"></p>
        <a href="#" [routerLink]="['']">Retour</a>
      </article>
  }
</div>
