<div class="blueBandDeco"></div>
<div class="searchBar">
  <h1>Actualités</h1>
  <form [formGroup]="search">
    <input type="text" id="searchArticle" placeholder="Rechercher" formControlName="searchArticle">
    <select formControlName="categoryFilter" >
      <option value="" selected>Tout afficher</option>
      <option value="International" selected>International</option>
      <option value="Divertissement">Divertissement</option>
      <option value="Faits divers">Faits divers</option>
      <option value="société">Société</option>
    </select>
  </form>
</div>
<div class="container">
    @for(article of articles$ | async; track article.id ) {
      <a href="#" [routerLink]="['viewArticle', article.id]">
        <article>
          <img ngSrc="{{article.image}}" width="350" height="200" alt="image de l'article" priority>
          <h3 [ngClass]= articleManager.getClassNameFromCategory(article)
          > {{article.category.toUpperCase()}}</h3>
          <h2 [innerHTML]="article.title"></h2>
          <p [innerHTML]="article.subtitle"></p>
        </article>
      </a>
    }
</div>

